@model test.Area

@{
    ViewData["Title"] = "Информация";
}


<div>
    <h4>Район</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameArea)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameArea)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdRegionNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdRegionNavigation.NameRegion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdArea">Изменить</a> |
    <a asp-action="Index">Назад</a>
</div>
