@using test.ViewsModels
@model test.Views.Areas.IndexViewModel
@{
    ViewData["Title"] = "Районы";
}

<p>
    <div class="form-group">
        <a asp-action="Create"><input type="submit" value="Создать новую запись" class="btn btn-default" /></a>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Area.First().NameArea)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Area.First().IdRegionNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Area) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRegionNavigation.NameRegion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdArea">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.IdArea">Информация</a> |
                <a asp-action="Delete" asp-route-id="@item.IdArea">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
