@model test.Views.Enrollees.CreateViewModel

@{
    ViewData["Title"] = "Создать абитуриента";
}


<form class="form-horizontal" asp-action="Create" method="post">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#panel1">Персональные данные</a></li>
        <li><a data-toggle="tab" href="#panel2">Образование</a></li>
        <li><a data-toggle="tab" href="#panel3">Семья</a></li>
        <li><a data-toggle="tab" href="#panel4">Военкомат и военная служба</a></li>
        <li><a data-toggle="tab" href="#panel5">Дополнительно</a></li>
        <li><a data-toggle="tab" href="#panel6">Внутренние экзамены</a></li>
        <li><a data-toggle="tab" href="#panel7">Документы и файлы</a></li>
    </ul>
    <div class="row"><br /></div>
    <div class="tab-content">
        <input type="hidden" asp-for="@Model.Enrollees.IdEnrollee" name="Enrollees.IdEnrollee" />
        <div id="panel1" class="tab-pane fade in active">
            <div class="container">
                <!-- Абитуриент -->
                <div class="row">
                    <div class="container col-md-5 col-lg5 col-xl-5">
                        <div class="form-group">
                            <div class="col-md-5 col-lg-5 col-xl-5 text-right">
                                @Html.LabelFor(model => model.Enrollees.NumOfPersonalFile)
                            </div>
                            <div class="col-md-2 col-lg-2 col-xl-2">
                                @Html.DisplayFor(model => model.Enrollees.NumOfPersonalFile)
                                @Html.ValidationMessageFor(model => model.Enrollees.NumOfPersonalFile)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5 col-lg-5 col-xl-5 text-right">
                                @Html.LabelFor(model => model.Enrollees.Surname)
                            </div>
                            <div class="col-md-2 col-lg-2 col-xl-2">
                                @Html.DisplayFor(model => model.Enrollees.Surname)
                                @Html.ValidationMessageFor(model => model.Enrollees.Surname)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5 col-lg-5 col-xl-5 text-right">
                                @Html.LabelFor(model => model.Enrollees.Name)
                            </div>
                            <div class="col-md-2 col-lg-2 col-xl-2">
                                @Html.DisplayFor(model => model.Enrollees.Name)
                                @Html.ValidationMessageFor(model => model.Enrollees.Name)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5 col-lg-5 col-xl-5 text-right">
                                @Html.LabelFor(model => model.Enrollees.Patronymic)
                            </div>
                            <div class="col-md-2 col-lg-2 col-xl-2">
                                @Html.DisplayFor(model => model.Enrollees.Patronymic)
                                @Html.ValidationMessageFor(model => model.Enrollees.Patronymic)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5 col-lg-5 col-xl-5 text-right">
                                @Html.LabelFor(model => model.Enrollees.DateOfBirth)
                            </div>
                            <div class="col-md-2 col-lg-2 col-xl-2">
                                @Html.DisplayFor(model => model.Enrollees.DateOfBirth)
                                @Html.ValidationMessageFor(model => model.Enrollees.DateOfBirth)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5 col-lg-5 col-xl-5 text-right">
                                @Html.LabelFor(model => model.Enrollees.IdSex)
                            </div>
                            <div class="col-md-2 col-lg-2 col-xl-2">
                                @Html.DropDownList("Enrollees.IdSex", ViewBag.IdSex as SelectList)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5 col-lg-5 col-xl-5 text-right">
                                @Html.LabelFor(model => model.Enrollees.IdNationality)
                            </div>
                            <div class="col-md-2 col-lg-2 col-xl-2">
                                @Html.DropDownList("Enrollees.IdNationality", ViewBag.IdNationality as SelectList)
                            </div>
                        </div>
                    </div>
                    <!--Отчислние и системная информация-->
                    <div class="container table-bordered col-md-5 col-lg5 col-xl-5">
                        <div class="form-group">
                            <div class="col-md-5 col-lg-5 col-xl-5 text-right">
                                @Html.LabelFor(model => model.Enrollees.CreatedTo)
                            </div>
                            <div class="col-md-4 col-lg-4 col-xl-4">
                                @Html.DisplayFor(model => model.Enrollees.CreatedTo)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5 col-lg-5 col-xl-5 text-right">
                                @Html.LabelFor(model => model.Enrollees.DateOfDeduction)
                            </div>
                            <div class="col-md-2 col-lg-2 col-xl-2">
                                @Html.DisplayFor(model => model.Enrollees.DateOfDeduction)
                                @Html.ValidationMessageFor(model => model.Enrollees.DateOfDeduction)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5 col-lg-5 col-xl-5 text-right">
                                @Html.LabelFor(model => model.Enrollees.IdReasonForDeduction)
                            </div>
                            <div class="col-md-2 col-lg-2 col-xl-2">
                                @Html.DropDownList("Enrollees.IdReasonForDeduction", ViewBag.IdReasonForDeduction as SelectList)
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <h3>Паспорт</h3>
            <div class="container table-bordered">
                <br />
                <!-- паспорт-->
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xl-6 ">
                        <div class="form-group">
                            <div class="col-md-4 col-lg-4 col-xl-4 text-right">
                                @Html.LabelFor(model => model.Enrollees.PassportSeries)
                            </div>
                            <div class="col-md-2 col-lg-2 col-xl-2">
                                @Html.DisplayFor(model => model.Enrollees.PassportSeries)
                                @Html.ValidationMessageFor(model => model.Enrollees.PassportSeries)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            <div class="col-md-4 col-lg-4 col-xl-4 text-right">
                                @Html.LabelFor(model => model.Enrollees.PassportNumber)
                            </div>
                            <div class="col-md-2 col-lg-2 col-xl-2">
                                @Html.DisplayFor(model => model.Enrollees.PassportNumber)
                                @Html.ValidationMessageFor(model => model.Enrollees.PassportNumber)
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            <div class="col-md-4 col-lg-4 col-xl-4 text-right">
                                @Html.LabelFor(model => model.Enrollees.PassportUnitCode)
                            </div>
                            <div class="col-md-2 col-lg-2 col-xl-2">
                                @Html.DisplayFor(model => model.Enrollees.PassportUnitCode)
                                @Html.ValidationMessageFor(model => model.Enrollees.PassportUnitCode)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            <div class="col-md-4 col-lg-4 col-xl-4 text-right">
                                @Html.LabelFor(model => model.Enrollees.PassportIssueDate)
                            </div>
                            <div class="col-md-2 col-lg-2 col-xl-2">
                                @Html.DisplayFor(model => model.Enrollees.PassportIssueDate)
                                @Html.ValidationMessageFor(model => model.Enrollees.PassportIssueDate)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xl-12">
                        <div class="form-group">
                            <div class="col-md-2 col-lg-2 col-xl-2 text-right">
                                @Html.LabelFor(model => model.Enrollees.PassportIssuedBy)
                            </div>
                            <div class="col-md-8 col-lg-8 col-xl-8">
                                @Html.TextAreaFor(model => model.Enrollees.PassportIssuedBy, new { rows = "1", cols = "113" })
                                @Html.ValidationMessageFor(model => model.Enrollees.PassportIssuedBy)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xl-12">
                        <div class="form-group">
                            <div class="col-md-2 col-lg-2 col-xl-2 text-right">
                                @Html.LabelFor(model => model.Enrollees.PlaceOfBirth)
                            </div>
                            <div class="col-md-8 col-lg-8 col-xl-8">
                                @Html.TextAreaFor(model => model.Enrollees.PlaceOfBirth, new { rows = "1", cols = "113" })
                                @Html.ValidationMessageFor(model => model.Enrollees.PlaceOfBirth)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2 col-lg-2 col-xl-2 text-right">
                            @Html.LabelFor(model => model.Enrollees.InteernationalPassport)
                        </div>
                        <div class="col-md-2 col-lg-2 col-xl-2">
                            @Html.CheckBox("Enrollees.InteernationalPassport", Model.Enrollees.InteernationalPassport)
                            @Html.ValidationMessageFor(model => model.Enrollees.InteernationalPassport)
                        </div>
                    </div>
                </div>
                <!--паспорт закончился-->
            </div>
            <br />
            <div class="container table-bordered">
                <!--адрес проживания-->
                <br />
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2 col-lg-2 col-xl-2 text-right">
                            @Html.LabelFor(model => model.Enrollees.IdRegion)
                        </div>
                        <div class="col-md-2 col-lg-2 col-xl-2">
                            @Html.DropDownList("Enrollees.IdRegion", ViewBag.IdRegion as SelectList)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2 col-lg-2 col-xl-2 text-right">
                            @Html.LabelFor(model => model.Enrollees.IdArea)
                        </div>
                        <div class="col-md-2 col-lg-2 col-xl-2">
                            @Html.DropDownList("Enrollees.IdArea", ViewBag.IdArea as SelectList)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2 col-lg-2 col-xl-2 text-right">
                            @Html.LabelFor(model => model.Enrollees.IdTown)
                        </div>
                        <div class="col-md-2 col-lg-2 col-xl-2">
                            @Html.DropDownList("Enrollees.IdTown", ViewBag.IdTown as SelectList)
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="container table-bordered">
                <!--мвд и тд-->
                <br />
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2 col-lg-2 col-xl-2 text-right">
                            @Html.LabelFor(model => model.Enrollees.CardPpo)
                        </div>
                        <div class="col-md-2 col-lg-2 col-xl-2">
                            @Html.DisplayFor(model => model.Enrollees.CardPpo)
                            @Html.ValidationMessageFor(model => model.Enrollees.CardPpo)
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2 col-lg-2 col-xl-2 text-right">
                            @Html.LabelFor(model => model.Enrollees.AdmitSsgt)
                        </div>
                        <div class="col-md-2 col-lg-2 col-xl-2">
                            @Html.DisplayFor(model => model.Enrollees.AdmitSsgt)
                            @Html.ValidationMessageFor(model => model.Enrollees.AdmitSsgt)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2 col-lg-2 col-xl-2 text-right">
                            @Html.LabelFor(model => model.Enrollees.IdFactOfProsecution)
                        </div>
                        <div class="col-md-2 col-lg-2 col-xl-2">
                            @Html.DropDownList("Enrollees.IdFactOfProsecution", ViewBag.IdFactOfProsecution as SelectList)
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div id="panel2" class="tab-pane fade">
            <!--Образование-->
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2 col-lg-2 col-xl-2 text-right">
                        @Html.LabelFor(model => model.Enrollees.IdEducationalInstitution)
                    </div>

                    <div class="col-md-2 col-lg-2 col-xl-2">
                        @Html.DropDownList("Enrollees.IdEducationalInstitution", ViewBag.IdEducationalInstitution as SelectList)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-2 col-lg-2 col-xl-2 text-right">
                        @Html.LabelFor(model => model.Enrollees.IdEducationType)
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2">
                        @Html.DropDownList("Enrollees.IdEducationType", ViewBag.IdEducationType as SelectList)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-2 col-lg-2 col-xl-2 text-right">
                        @Html.LabelFor(model => model.Enrollees.YearOfEndingEducation)
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2">
                        @Html.DisplayFor(model => model.Enrollees.YearOfEndingEducation)
                        @Html.ValidationMessageFor(model => model.Enrollees.YearOfEndingEducation)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-2 col-lg-2 col-xl-2 text-right">
                        @Html.LabelFor(model => model.Enrollees.NotesEducationalInstitution)
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2">
                        @Html.TextAreaFor(model => model.Enrollees.NotesEducationalInstitution, new { rows = "5", cols = "70" })
                        @Html.ValidationMessageFor(model => model.Enrollees.NotesEducationalInstitution)
                    </div>
                </div>
            </div>

        </div>
        <div id="panel3" class="tab-pane fade">
            <!--Семья -->
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3 col-lg-3 col-xl-3 text-right">
                        @Html.LabelFor(model => model.Enrollees.IdPreemptiveRight)
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2">
                        @Html.DropDownList("Enrollees.IdPreemptiveRight", ViewBag.IdPreemptiveRight as SelectList)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3 col-lg-3 col-xl-3 text-right">
                        @Html.LabelFor(model => model.Enrollees.IdMaritalStatus)
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2">
                        @Html.DropDownList("Enrollees.IdMaritalStatus", ViewBag.IdMaritalStatus as SelectList)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3 col-lg-3 col-xl-3 text-right">
                        @Html.LabelFor(model => model.Enrollees.IdSocialBackground)
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2">
                        @Html.DropDownList("Enrollees.IdSocialBackground", ViewBag.IdSocialBackground as SelectList)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3 col-lg-3 col-xl-3 text-right">
                        @Html.LabelFor(model => model.Enrollees.Children)
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2">
                        @Html.EditorFor(model => model.Enrollees.Children)
                        @Html.ValidationMessageFor(model => model.Enrollees.Children)
                    </div>
                </div>
            </div>


            <h3>Члены семьи</h3>
            <a asp-action="AddFamily" asp-route-id="@Model.Enrollees.IdEnrollee">Добавить члена семьи</a>


            <div id="ArrayFamilys">

                @foreach (var family in Model.Enrollees.Family)
                {

                    <div name="family" class="list-group-item">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-xl-5">
                                <div class="form-group">
                                    @Html.HiddenFor(modelItem => family.IdFamily)
                                    @Html.HiddenFor(modelItem => family.IdParent)
                                    <div class="col-md-2 col-lg-2 col-xl-2 text-right">
                                        @Html.LabelFor(modelItem => family.IdParentNavigation.Surname)
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                        @Html.EditorFor(modelItem => family.IdParentNavigation.Surname, new { @id = "family_IdParentNavigation_Surname_" + family.IdFamily })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2 col-lg-2 col-xl-2 text-right">
                                        @Html.LabelFor(modelItem => family.IdParentNavigation.Name)
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                        @Html.EditorFor(modelItem => family.IdParentNavigation.Name)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2 col-lg-2 col-xl-2 text-right">
                                        @Html.LabelFor(modelItem => family.IdParentNavigation.Patronymic)
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                        @Html.EditorFor(modelItem => family.IdParentNavigation.Patronymic)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2 col-lg-2 col-xl-2 text-right">
                                        @Html.LabelFor(modelItem => family.IdParentNavigation.IdSex)
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                        @Html.DropDownList("family.IdParentNavigation.IdSex", new SelectList(Model.SexList, "IdSex", "NameSex", family.IdParentNavigation.IdSex))
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-lg-5 col-xl-5">
                                <div class="form-group">
                                    <div class="col-md-3 col-lg-3 col-xl-3 text-right">
                                        @Html.LabelFor(modelItem => family.IdFamilyType)
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                        @Html.DropDownList("family.IdFamilyType", new SelectList(Model.FamilyTypeList, "IdFamilyType", "NameFamilyType", family.IdFamilyType))
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3 col-lg-3 col-xl-3 text-right">
                                        @Html.LabelFor(modelItem => family.IdParentNavigation.IdParentType)
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                        @Html.DropDownList("family.IdParentNavigation.IdParentType", new SelectList(Model.ParentTypeList, "IdParentType", "NameParentType", family.IdParentNavigation.IdParentType))
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3 col-lg-3 col-xl-3 text-right">
                                        @Html.LabelFor(modelItem => family.IdParentNavigation.IdFactOfProsecution)
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                        @Html.DropDownList("family.IdParentNavigation.IdFactOfProsecution", new SelectList(Model.FactOfProsecutionList, "IdFactOfProsecution", "NameFactOfProsecution", family.IdParentNavigation.IdFactOfProsecution))
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-lg-5 col-xl-5">
                                <div class="form-group">
                                    <div class="col-md-3 col-lg-3 col-xl-3 text-right">
                                        @Html.LabelFor(modelItem => family.IdParentNavigation.IdSocialStatus)
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                        @Html.DropDownList("family.IdParentNavigation.IdSocialStatus", new SelectList(Model.SocialStatusList, "IdSocialStatus", "NameSocialStatus", family.IdParentNavigation.IdSocialStatus))
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-2 col-lg-2 col-xl-2 text-right">
                                        @Html.LabelFor(modelItem => family.IdParentNavigation.IdCity)
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                        @Html.DropDownList("family.IdParentNavigation.IdCity", new SelectList(Model.CityList, "IdTown", "NameCity", family.IdParentNavigation.IdCity))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row"><br /></div>


                }
            </div>

        </div>
        <div id="panel4" class="tab-pane fade">
            <!--Военкомат и военная служба-->
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2 col-lg-2 col-xl-2 text-right">
                        @Html.LabelFor(model => model.Enrollees.IdMilitaryOffice)
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2">
                        @Html.DropDownList("Enrollees.IdMilitaryOffice", ViewBag.IdMilitaryOffice as SelectList)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-2 col-lg-2 col-xl-2 text-right">
                        @Html.LabelFor(model => model.Enrollees.IdMilitaryUnit)
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2">
                        @Html.DropDownList("Enrollees.IdMilitaryUnit", ViewBag.IdMilitaryUnit as SelectList)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-2 col-lg-2 col-xl-2 text-right">
                        @Html.LabelFor(model => model.Enrollees.IdMilitaryRank)
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2">
                        @Html.DropDownList("Enrollees.IdMilitaryRank", ViewBag.IdMilitaryRank as SelectList)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-2 col-lg-2 col-xl-2 text-right">
                        @Html.LabelFor(model => model.Enrollees.IdCategoryMs)
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2">
                        @Html.DropDownList("Enrollees.IdCategoryMs", ViewBag.IdCategoryMs as SelectList)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2 col-lg-2 col-xl-2 text-right">
                        @Html.LabelFor(model => model.Enrollees.PersonalNumberMs)
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2">
                        @Html.EditorFor(model => model.Enrollees.PersonalNumberMs)
                        @Html.ValidationMessageFor(model => model.Enrollees.PersonalNumberMs)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-2 col-lg-2 col-xl-2 text-right">
                        @Html.LabelFor(model => model.Enrollees.StockPositionMs)
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2">
                        @Html.EditorFor(model => model.Enrollees.StockPositionMs)
                        @Html.ValidationMessageFor(model => model.Enrollees.StockPositionMs)
                    </div>
                </div>
            </div>
        </div>
        <div id="panel5" class="tab-pane fade">
            <!--Дополнительно-->
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2 col-lg-2 col-xl-2 text-right">
                        @Html.LabelFor(model => model.Enrollees.OtherNotes)
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2">
                        @Html.TextAreaFor(model => model.Enrollees.OtherNotes, new { rows = "5", cols = "70" })
                        @Html.ValidationMessageFor(model => model.Enrollees.OtherNotes)
                    </div>
                </div>
            </div>
        </div>
        <div id="panel6" class="tab-pane fade">
            <!--Внутренние экзамены-->
        </div>
        <div id="panel7" class="tab-pane fade">
            <!--Документы и файлы-->
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2 col-lg-2 col-xl-2 text-right">
                        @Html.LabelFor(model => model.Enrollees.ArrivalDate)
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2">
                        @Html.EditorFor(model => model.Enrollees.ArrivalDate)
                        @Html.ValidationMessageFor(model => model.Enrollees.ArrivalDate)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-2 col-lg-2 col-xl-2 text-right">
                        @Html.LabelFor(model => model.Enrollees.LiveInCamp)
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2">
                        @Html.CheckBox("Enrollees.LiveInCamp", Model.Enrollees.LiveInCamp)
                        @Html.ValidationMessageFor(model => model.Enrollees.LiveInCamp)
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br />
    <div class="form-group">
        <input id="SaveAbitur" type="submit" value="Сохранить" class="btn btn-default" />
    </div>
</form>
<div>
    <a asp-action="Index">Назад к списку абитуриентов</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
    $(function () {

        $('#Enrollees_IdArea').change(function()
        {
            // получаем выбранный id
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetItemsCities")/' + id,
                success: function (data) {

                    // заменяем содержимое присланным частичным представлением
                    $('#Enrollees_IdTown').replaceWith(data);
                }
            });
        });
    })
    </script>
    <script type="text/javascript">
    $(function () {

        $('#Enrollees_IdRegion').change(function()
        {
            // получаем выбранный id
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetItemsAreas")/' + id,
                success: function (data) {

                    // заменяем содержимое присланным частичным представлением
                    $('#Enrollees_IdArea').replaceWith(data);
                }
            });
        });
    })
    </script>
}
