@model IEnumerable<test.PreemptiveRight>

@{
    ViewData["Title"] = "Преимущественные права";
}

<p>
    <div class="form-group">
        <a asp-action="Create"><input type="submit" value="Создать новую запись" class="btn btn-default" /></a>
    </div>

</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NamePreemptiveRight)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamePreemptiveRight)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPreemptiveRight">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.IdPreemptiveRight">Информация</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPreemptiveRight">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
