@model test.MilitaryUnit

@{
    ViewData["Title"] = "Информация";
}


<div>
    <h4>Войсковая часть</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameMilitaryUnit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameMilitaryUnit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdAreaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdAreaNavigation.NameArea)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdMilitaryUnit">Изменить</a> |
    <a asp-action="Index">Назад</a>
</div>
