@model test.Speciality

@{
    ViewData["Title"] = "Информация";
}

<div>
    <h4>Специальность</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameSpeciality)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.CountAbiturToSpeciality)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameSpeciality)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.CountAbiturToSpeciality)
        </dd>
    </dl>


</div>
<h4>Вступительные испытания</h4>
<div class="form-group">
    <div class="col-md-offset-1 col-md-10">
        <table>
            <tr>
                @{
                    int cnt = 0;
                    List<test.Views.Specialities.AssignedSubjectData> subjects = ViewBag.Subject;

                    foreach (var sub in subjects)
                    {
                        if (cnt++ % 3 == 0)
                        {
                        @:</tr><tr>
                        }
                        @:<td>
                            <input disabled type="checkbox"
                                   name="selectedSubject"
                                   value="@sub.SubjectId"
                                   @(Html.Raw(sub.Assigned ? "checked=\"checked\"" : "")) />
                            @sub.SubjectId @:  @sub.Title
                        @:</td>
                    }
                @:</tr>
                }
            </table>
        </div>
    </div>
<div class="row"><br/></div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.IdSpeciality">Изменить</a> |
        <a asp-action="Index">Назад</a>
    </div>
