@model test.Models.Pochta

@{
    ViewData["Title"] = "Информация";
}


<div>
    <h4>Почта</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Index)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Index)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OPSName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OPSName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OPSType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OPSType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OPSSubm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OPSSubm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Autonom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Autonom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IndexOld)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IndexOld)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
    <a asp-action="Index">Назад</a>
</div>
