@using test.ViewModels
@model test.Views.Pochtas.IndexViewModel

@{
    ViewData["Title"] = "Почтовые адреса";
}




<p>

    <a asp-action="Create"><input type="submit" value="Создать новую запись" class="btn btn-default" /></a>
    <a asp-action="LoadAddressPochtaFromFile"><input type="submit" value="Загрузить данные из файла" class="btn btn-default" /></a>
    <a asp-action="LoadAddressLib"><input type="submit" value="Загрузить данные в справочники" class="btn btn-default" /></a>


</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Почтовый индекс
            </th>
            <th>
                Наименование объекта почтовой связи
            </th>
            <th>
                Индекс вышестоящего по иерархии подчиненности объекта
            </th>
            <th>
                Наименование области, края, республики
            </th>
            <th>
                Наименование автономной области
            </th>
            <th>
                Наименование района
            </th>
            <th>
                Наименование населенного пункта
            </th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model.Pochta)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Index)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OPSName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.OPSSubm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Region)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Autonom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>

                <td>

                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Информация</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
