@model test.EducationalInstitution

@{
    ViewData["Title"] = "Информация";
}


<div>
    <h4>Учебное заведение</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameEducationalInstitution)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameEducationalInstitution)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdTownNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdTownNavigation.NameCity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdEducationalInstitution">Изменить</a> |
    <a asp-action="Index">Назад</a>
</div>
