@model IEnumerable<test.EducationalInstitution>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NameEducationalInstitution)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTownNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameEducationalInstitution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTownNavigation.IdTown)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEducationalInstitution">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdEducationalInstitution">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEducationalInstitution">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
